@font-face {
  font-family: 'Hind';
  src: url('/assets/fonts/Hind-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind';
  src: url('/assets/fonts/Hind-Bold.ttf');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe';
  src: url('/assets/fonts/SegoeUI.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF-Pro';
  src: url('/assets/fonts/SFProDisplay-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family: Hind;
  --windows-font-family: Segoe;
  --ios-font-family: SF-pro;
  --font-color: #292C3A;
  --secondary-font-color: #808080;
  --pwa-background-color: #FFF;
  --pwa-theme-color: #EBD0FE;
  --card-box-shadow: 0px 3px 5.41317px rgba(0, 0, 0, 0.25);
}

html, body {
  font-family: var(--font-family), sans-serif;
  padding: 0;
  margin: 0;
}

fast-design-system-provider {
  color: var(--font-color);
  --background-color: var(--primary-background-color);
}